<div class="banner" style="background-image: linear-gradient(0deg, rgba(0,101,168,0.6) 0%, rgba(0, 0, 0, 0.27) 50%), url(<%= image_path('background.jpeg')%>);">
  <div class="banner-content text-center">
    <h1>Best cocktails</h1>
    <p>Ready to get drunk bitcheesssss</p>
  </div>
</div>

<div class="wrapper text-center">
  <h1>Vos cocktails préférés</h1>
  <%= link_to "Add a new cocktail", new_cocktail_path, {class: "btn btn-primary"} %>
</div>
<div class="wrapper ">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4 col-lg-4">
        <%= link_to cocktail.name, cocktail_path(cocktail), {class: "btn btn-link"} %>
          <%= render "banfoo/card", cocktail: cocktail  %>
        </div>
      <% end %>
    </div>
  </div>
</div>

