
    <nav class="navbar navbar-default navbar-transparent">
        <div class="container-fluid">
            <div class="navbar-header"><a href="#" class="navbar-brand navbar-link">Brand</a>
                <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a data-toggle="dropdown" aria-expanded="false" href="#" class="dropdown-toggle">Menu<span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li role="presentation"><a href="#">Votre profil</a></li>
                            <li role="presentation"><a href="#">Vos cocktails</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
