.banner{
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  h1{
    margin: 0;
    text-shadow: 3px 3px 3px black;
    padding-top: 113px;
    padding-bottom: 80px;
    font-family: 'Paytone One', sans-serif;
    font-size: 55px;
    letter-spacing: 12px;
  }
}
