.navbar {
   background:rgba(0,0,0,0.5);
   border-bottom-color: black;
ul{
  background:rgba(0,0,0,0.3);
  border-color: grey;
  }
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  background:rgba(0,0,0,0.3);
}

.container-fluid{
  padding-right: 1px;
}

.navbar-brand{
  text-indent: -10000px;
  background: url("/drink.png") no-repeat center;
  width: 52px;

}

.navbar-nav {
    li{
      color: rgba(204, 204, 204, 0.71)
    }
    a{
      color: rgba(204, 204, 204, 0.71)
    }
}

.dropdown-menu > li > a{
  color: rgba(204, 204, 204, 0.71);
}
