// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";


.container{
  background-color: grey;
  margin-top: 50px;
  width: 1200px;
}


.card{
  background-color: red;
}

 .form-control{
    width: 400px;
    margin: 0 auto;
  }
